.raslen-container{
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh; 
}



.product-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr)); 
    gap: 60px;

}
.prod-list-title{
 
  margin-left: 200px;
  font-size: 2.5rem;
  margin-bottom: -150px;
}
  
  .product-card {
    border-radius: 8px;
    padding: 15px; 
    background-color: #f8f4f4;
 
  }
  
  .product-card img {
    width: 100%;
    max-height: 100px; 
    object-fit: cover;
  }
  
  .product-card h3 {
    margin-top: 8px; 
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
  }
  
  .product-card p {
    margin: 5px 0; 
    font-size: 14px;
    color: red; 
  }
  
  .product-card button {
    background-color: #0d0d0d;
    color: #ffffff;
    display: none;
    padding: 8px 15px; 
    width: 100%;
  }
  
  .h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .category-heading {
    display: inline-flex;
    align-items: center;
    margin-left: -1000px;
  }
  
  .category-heading img {
    width: 15px; 
    height: auto;
    margin-left: 0; 
    border-radius: 5px;
    margin-bottom: -20px;
  }
  
  .raslen-title-category {
    margin-left: -740px; 
  }
  
  .raslen-category-heading h2 {
    font-size: 20px; 
    margin-bottom: -20px;
    margin-left: 0; 
  }
  