
.features-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 150px;
  }
  
  .feature-box {
    text-align: center;
    max-width: 300px;
  }
  
  .feature-icon img {
    width: 80px;
    height: 80px; 
    margin-bottom: 10px;
  }
  
  .feature-box h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .feature-box p {
    font-size: 16px;
    color: #666;
  }
  