.lfou9 .custom-carousel {
  width: 97%;
  margin: 70px 20px 0 auto;
  margin-left: 60px;
}

.lfou9 .custom-carousel .carousel-item {
  height: 500px;
  width: 1200px;
  /* margin-left: 80px; */
  margin-top: 10%;
  margin-bottom: 100px;
}

.lfou9 .custom-carousel .carousel-item img {
  object-fit: fit;
  width: 90%;
  height: 100%;
}

.lfou9 .custom-carousel .video-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.lfou9 .custom-carousel .video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.lfou9 {
  display: grid;
  width: 10vw;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.lfou9 .sideBar {
  padding-top: 100px;

  border-right: #d0d0d0 1px solid;

}

.lfou9 .sideBar ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-right: 40px !important;
  padding-top: 40px;
  padding-left: 10px !important;
  justify-content: center;
  overflow: hidden;

}

.lfou9 .sideBar ul li {
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(97, 97, 97);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.lfou9 .sideBar ul li:hover {
  background-color: #b0b0b051;
  color: rgb(0, 0, 0);
}