
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}


.admin-dashboard {
  display: flex;
  height: 100vh;
  background-color: #1a252f;
  color: #ecf0f1;
}

/* Sidebar */
.admin-sidebar-dashboard {
  width: 250px;
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 20px;
  box-sizing: border-box;
}

.admin-sidebar-dashboard h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 36px;
}

.admin-sidebar-dashboard nav ul {
  list-style-type: none;
  padding-top: 30px;
}

.admin-sidebar-dashboard nav ul li {
  margin: 20px 0;
  font-size: 18px;
  cursor: pointer;
}


.admin-main-content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}


/* Main title */
.admin-main-title {
  margin-bottom: 50px;
  font-size: 30px;
  color: #c50a71;
}
.admin-ex{
  color: #e74c3c;
}
.admin-clusive{
  color: #e8cac4;
}


.admin-header-dashboard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}


.admin-stats {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.admin-stat-container {
  background: #34495e;
  padding: 20px;
  border-radius: 8px;
  width: 23%;
  text-align: center;
  position: relative;
}

.admin-stat-container h3 {
  margin: 0;
  font-size: 24px;
  color: #ecf0f1;
}

.admin-stat-container p {
  margin: 0;
  color: #bdc3c7;
}

.admin-main-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}


.admin-top-selling {
  background: #34495e;
  padding: 20px;
  border-radius: 8px;
  width: 65%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 90px;
}

.admin-top-selling-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-see-more-button {
  background: #ecf0f1;
  color: #000;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.admin-see-more-button.admin-edge {
  margin-left: auto;
}

.admin-see-more-button:hover {
  background: #bdc3c7;
}

.admin-red-title {
  color: #e74c3c;
}

.admin-top-selling h2 {
  margin: 0;
}

.admin-top-selling table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.admin-top-selling table th,
.admin-top-selling table td {
  border: 1px solid #7f8c8d;
  padding: 8px;
  text-align: left;
}

.admin-top-selling table th {
  background: #2c3e50;
}


.admin-role-stats-chart {
  background: #34495e;
  padding: 20px;
  border-radius: 8px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 90px;
}

.admin-role-stats-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.admin-customers-section {
  width: 100%;
  padding: 20px;
}

.admin-filters {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.admin-filters select,
.admin-filters input {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #7f8c8d;
}

.admin-filters input {
  flex: 1;
}

.admin-customers-section table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.admin-customers-section table th,
.admin-customers-section table td {
  border: 1px solid #7f8c8d;
  padding: 8px;
  text-align: left;
}

.admin-customers-section table th {
  background: #2c3e50;
}

.admin-customers-section table td .action-buttons {
  display: flex;
  align-items: center;
}

.admin-customers-section table td .action-buttons button {
  margin-right: 5px;
}

.admin-customers-section table td .action-buttons button:last-child {
  margin-right: 0;
}

.admin-customers-section table td button {
  background: #e74c3c;
  color: #ecf0f1;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.admin-customers-section table td button.switch-role {
  background: #27ae60;
  margin-left: 10px;
}

.admin-customers-section table td button:hover {
  background: #c0392b;
}

.admin-customers-section table td button.switch-role:hover {
  background: #2ecc71;
}


.admin-products-section {
  width: 100%;
  padding: 20px;
}

.admin-products-section .admin-products-search-bar {
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #7f8c8d;
  margin-bottom: 20px;
  background-color: #fff; 
  color: #000; 
}

.admin-products-section table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.admin-products-section table th,
.admin-products-section table td {
  border: 1px solid #7f8c8d;
  padding: 8px;
  text-align: left;
}

.admin-products-section table th:first-child,
.admin-products-section table td:first-child {
  width: 100px; 
}

.admin-products-section table th {
  background: #2c3e50;
}

.admin-products-section table td button {
  background: #e74c3c;
  color: #ecf0f1;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.admin-products-section table td button:hover {
  background: #c0392b;
}

.admin-top-stock {
  background: #34495e;
  padding: 20px;
  border-radius: 8px;
  width: 65%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.admin-top-stock-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-top-stock table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.admin-top-stock table th,
.admin-top-stock table td {
  border: 1px solid #7f8c8d;
  padding: 8px;
  text-align: left;
}

.admin-top-stock table th {
  background: #2c3e50;
}


.admin-orders-section {
  width: 100%;
  padding: 20px;
}

.admin-orders-search-bar {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #7f8c8d;
  background-color: #fff; 
  color: #000; 
}

.admin-orders-section table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.admin-orders-section table th,
.admin-orders-section table td {
  border: 1px solid #7f8c8d;
  padding: 8px;
  text-align: left;
}

.admin-orders-section table th {
  background: #2c3e50;
}

.admin-orders-section table td button {
  background: #e74c3c;
  color: #ecf0f1;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.admin-orders-section table td button:hover {
  background: #c0392b;
}


.confirmation-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.confirmation-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  color: #000;
}

.confirmation-actions {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.confirmation-button {
  background: #e74c3c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.confirmation-button:hover {
  background: #c0392b;
}

.confirmation-modal {
background: #fff;
padding: 20px;
border-radius: 8px;
width: 300px;
text-align: center;
}

.confirmation-modal h3 {
margin-bottom: 20px;
}

.confirmation-modal button {
background: #e74c3c;
color: #fff;
border: none;
padding: 8px 20px;
border-radius: 4px;
cursor: pointer;
margin-right: 10px;
}

.confirmation-modal button:hover {
background: #c0392b;
}

.confirmation-modal button:last-child {
background: #2ecc71;
color: #fff;
}

.confirmation-modal button:last-child:hover {
background: #27ae60;
}


.admin-logout-button {
  text-align: center;
  font-size: large;
background: #e74c3c;
color: #ffffff;
border:#c50a8d;
padding: 8px 20px;
border-radius: 4px;
cursor: pointer;
height: 5%;
width: 10%;
margin-left: 1100px;
}

.admin-logout-button:hover {
background: #c0392b;
}


@media screen and (max-width: 1024px) {
.admin-dashboard {
  flex-direction: column;
}

.admin-sidebar-dashboard {
  width: 100%;
  margin-bottom: 20px;
}

.admin-main-content {
  width: 100%;
}
}

@media screen and (max-width: 768px) {
.admin-stat-container {
  width: 100%;
}

.admin-role-stats-chart {
  width: 100%;
  margin-top: 20px;
}

.admin-top-selling,
.admin-top-stock {
  width: 100%;
  margin-top: 20px;
}
}
