.bouallug-categories {
    text-align: center;
    padding: 20px;
    margin-top: -10px;
  }
  
  .bouallug-categories h2 {
    color: rgb(249, 126, 10);
  }
  
  .bouallug-categories h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  .bouallug-product h3{
    margin-top: 10px;
  }
  
  .bouallug-category-list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  
  }
  
  .bouallug-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 40px;
    transition: background-color 0.3s;
    border: 3px rgb(140, 140, 140) solid;
    border-radius: 7px;
  }
  
  .bouallug-category.active {
    background-color: #f0f0f0; 
  }
  
  .bouallug-category:hover {
    background-color: #f60000; 
  }
  
  .bouallug-category-heading {
    display: inline-flex;
    align-items: center;
    margin-left: -1000px;
  }
  
  .bouallug-category-heading img {
    width: 30px; 
    height: auto;
    margin-left: 0; 
    border-radius: 5px;
    margin-bottom: -20px;
  }
  
  .bouallug-title-category {
    margin-left: -740px; 
  }
  
  .bouallug-category-heading h2 {
    font-size: 20px; 
    margin-bottom: -20px;
    margin-left: 0; 
  }
  
  .bouallug-product-list {
    margin-bottom: 150px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .bouallug-product {
    border-radius: 8px;
    padding: 15px;
    background-color: #f8f4f4;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .bouallug-product img {
    width: 100%;
    max-height: 100px;
    object-fit: cover;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  
  .bouallug-product h3 {
    margin-top: 8px;
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .bouallug-product p {
    margin: 5px 0;
    font-size: 14px;
    color: red;
  }
  
  .bouallug-product button {
    background-color: #0d0d0d;
    color: #ffffff;
    display: none;
    padding: 8px 15px;
    width: 100%;
  }
  
  .bouallug-product:hover {
    transform: scale(1.05);
  }
  
  .bouallug-product:hover button {
    display: block;
  }
  